@charset "UTF-8";
/* CSS Document */

body{
	postion:relative;
}

#logo {
	height: 207px;
}

.headerBG {
  color: white;
  background: -webkit-repeating-linear-gradient(45deg, #05024a, #05024a 10px, #1f307c 10px, #1f307c 20px);
  background: repeating-linear-gradient(45deg, #05024a, #05024a 10px, #1f307c 10px, #1f307c 20px);
}

.filterNav{
	font-family: "Yanone Kaffeesatz", Arial;
	font-size: 20px;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav{
	font-family: "Yanone Kaffeesatz", Arial;
	font-size: 20px;
	text-align: center;
	color: #05024a;
	padding-top: 10px;
	padding-bottom: 10px;
}

#results{
	z-index: 255;
	background-color: white;
	padding: 20px;
	
}

#search{
	width: 200px;
  margin-left:-60px;
}

.moviethumb{
	width: 30%;
}

.top{
	padding-top:80px;
}

.bottom{
	padding-top:20px;
}

.shrinkImg{
	width: 70%;
}

p{
	font-family: "Yanone Kaffeesatz", Courier, monospace;
	font-size: 15px;
	padding-top: 10px;
}

h1 {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 2em;
	text-align: left;
	color: black;
}
h6{
	letter-spacing:1px;
}

#ghostbusters {
	width: 200px;
}

#beetlejuice {
	width: 200px;
}

#ironman {
	width: 200px;
}

#up {
	width: 200px;
}

footer{
	border-top: 1px solid #05024a;	
}

#content {
	z-index: -200;
	position: fixed;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1170px;
  height: 400px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
